.aulas-titulo {
    text-align: center;
    margin-top: 1em;
}

.aulas-titulo p {
    font-weight: 500;
    font-size: 1.3em;
}

.aulas-titlo strong {
    color: #2254d3;

}

.img-card {
    width: 170px;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container-aulas {
    margin-top: 3em;

}

.aulas-container {
    cursor: pointer;
}

.aulas-container:hover {
    border: 1.5px solid #2254d3;
    border-radius: 5px;
    padding: 3px;
}

.aulas-nome {
    text-align: center;
    background-color: #2254d3;
    color: #E9E9E9;
    font-size: 0.8em;
}

.horario-img,
.intensidade-img {
    width: 20px;
    height: auto;
    margin-top: 1.2em;
}

.horario {
    margin-top: 0.3em;
    font-size: 0.8em;
    font-weight: 600;
}

.dumbell {
    height: 60px;
    margin-top: 15px;
    margin-bottom: 75px;
}

.aulas-nome-mais {
    text-align: center;
    background-color: #dad0d0;
    color: #2254D3;
    font-size: 0.8em;
}


.aulas-container-mais:hover {
    border: 1.5px solid #dad0d0;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

.mensalidade-titulo {
    text-align: center;
    margin-top: 1em;
}

.mensalidade-titulo p {
    font-weight: 500;
    font-size: 1.3em;
}

.mensalidade-titlo strong {
    color: #2254d3;

}

.planos-container {
    margin: 0 80px 80px 80px;
    font-size: 13px;

}

.precos-container {
    padding-left: 50px;
    padding-right: 50px;
}

.precos-titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.precos-info {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

.precos-valor {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.precos-container-indiv {
    border-radius: 8px;
    margin: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding-bottom: 10px;
}

.btn {
    margin-top: 40px;
}